{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
<h2>Calendars</h2>

<table class='table'>
  <tbody>
    {% for calendar in calendars %}
    <tr>
      {% if calendar.ical %}
      <td>
        <div class='blob' style='background-color: {{ calendar.ical.colour | e }}'>&nbsp;</div>
        <a href="{{ url_for('show_calendar', id=calendar.id) }}">
          {{ calendar.ical.name | e }}
        </a>
      </td>
      {% else %}
      <td>Loading…</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Add another</h3>

</div>
</div>

      <form method="POST" action="{{ url_for('add_calendar') }}" class="form-horizontal">
        {{ form.hidden_tag() }}
        <div class="form-group {% if form.ical_url.errors %}has-error{% endif %}">
          {{ form.ical_url.label(class='col-sm-2 control-label') }}
          <div class="col-sm-8">
            {{ form.ical_url(size=20, class='form-control', type='url') }}
            {% for error in form.ical_url.errors %}
            <p class='help-block'>{{ error|e }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-2">
            <input type="submit" value="Add" class="btn btn-primary">
          </div>
        </div>
      </form>
{% endblock %}
